*.apk
*.iws
gen/*
bin/*
out/*
vendor/*/gen/*
vendor/*/bin/*
local.properties
.DS_Store
.settings/
AndroidManifest.xml
libs/*
project.properties
proguard-project.txt
res/*
assets/*
.classpath
.project
